<div id="app">
  <div class="parallax3" style="color:white; text-align:center; margin-top:50px;">
    <div style="margin:auto auto;">
      <a href="https://instagram.com/my_plywood_house" style="color:#fff; text-decoration:none;" title="Наш інстаграм">
        <div class="bebas" style="line-height: 100%;"><i class="fa fa-instagram"></i> My Plywood House <br><span
            style="font-size:0.70em; ">Для
            тих,
            хто вибирає краще</span></div>
      </a>
      <div> </div>
    </div>

  </div>
  {{!-- <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">

      {{#each this.slides}}
      <div {{#if @first }}class="carousel-item active" {{else}}class="carousel-item" {{/if}}>
        <img src="{{this.imageUrl}}" class="d-block w-100">
        <!--   <div class="carousel-caption d-none d-md-block myTextCarouselSettings">
          <h1>{{this.title}}</h1>
          <p>{{this.subtitle}}</p>
        </div>-->
 
</div>
{{/each}}
</div>
<!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div> --}}
  <!--=====================================-->

  <div id="last-viewed" class="container myContainerHeader" v-if="lastViewed.length>0">
    <h3>Останнє, що ви дивились</h3>
  </div>
  <div class="container" v-if="lastViewed.length>0">
    <div class="row" v-if="!isMobile()">

      <div class="col-6 col-sm-4 col-md-4 col-lg-2 myC " style="margin:0px; padding:0.5%; rosition:relative;"
        v-for="(e,i) in lastViewed">
        <a :href="'/product/'+e.id" style="display: block; float:left; text-decoration:none; color:#313131">
          <img class="img-fluid " :src="e.mainImage" loading="lazy">
          <h6 class="titleC align-middle" style="text-align: center; font-size:1.5em;"> <span style="  margin: 0;   position: absolute;    top: 50%;                        
                  transform: translate(-50%, -50%);">
              \{{e.title}}
              <h6><span style="color:green;">\{{e.price}}<span style="font-size:0.7em;"> ₴</span></span></span></h5>
            {{!-- <div style="text-align: right;">
              <div style="position: absolute;  z-index: 99; bottom:45px; right:0px; opacity:0; transition:all 0.2s;"
                :id="'girl'+e.id">
                <div style="position: relative;">
                  <img src="/images/girl/ok_1.png" class="img-fluid" style="height: 80px;">

                </div>
              </div>
              <button :id="e.id" class="btn btn-success btn-buy btn-sm" onclick="buy(event)"
                style="font-family: 'AdonisC';">
                В корзину
              </button>
            </div> --}}
            </span></h5>

        </a>

      </div>


    </div>
    <div class="row" v-if="isMobile()">

      <div class="col-6  col-sm-4 col-md-3  " style="margin:0%;padding:1%;" v-for="(e,i) in lastViewed">
        <div class="card myT">
          <a :href="'/product/'+e.id" style=" color:black; text-decoration:none;">

            <img loading="lazy" class="img-fluid" :src="e.mainImage">
            <div style="padding: 5%;">
              <h4>\{{e.title}}</h4>
              <h5><span style="color:red;">\{{e.price}}<span style="font-size:0.7em;"> ₴</span></span></span></h5>
              <div style="text-align: right;">
                <div style="position: absolute;  z-index: 99; bottom:45px; right:0px; opacity:0; transition:all 0.2s;"
                  :id="'girl'+e.id">
                  <div style="position: relative;">

                    <img src="/images/girl/ok_1.png" class="img-fluid" style="height: 80px;">


                  </div>

                </div>
                <button :id="e.id" class="btn btn-success btn-buy btn-sm" onclick="buy(event)">
                  В корзину
                </button>
              </div>

            </div>





          </a>
        </div>
      </div>

    </div>
    <hr>

  </div>
  <!--=====================================-->
  <div id="hot-propositions" class="container myContainerHeader">
    <h3>Популярні вироби</h3>
  </div>
  <div class="container">
    <div class="row">
      {{#each popularProducts}}
      <div class="col-6  col-sm-4 col-md-3" style="margin:0%;padding:1%;">
        <div class="card myT">
          <a href="/product/{{this.id}}" style=" color:black; text-decoration:none;">

            <img loading="lazy" class="img-fluid" src="{{this.mainImage}}">
            <div style="padding: 5%;">
              <h4>{{this.title}}</h4>
              <h5><span style="color:red;">{{this.price}}<span style="font-size:0.7em;"> ₴</span></span></span></h5>
              <div style="text-align: right;">
                <div style="position: absolute;  z-index: 99; bottom:45px; right:0px; opacity:0; transition:all 0.2s;"
                  id="girl{{this.id}}">
                  <div style="position: relative;">
                    <img src="/images/girl/ok_1.png" class="img-fluid" style="height: 80px;">

                  </div>
                </div>
                <button id="{{this.id}}-default-default-{{this.price}}" class="btn btn-success btn-buy btn-sm"
                  onclick="buy(event)">
                  В корзину
                </button>
              </div>

            </div>





          </a>
        </div>
      </div>

      {{/each}}
    </div>
  </div>
  <div id="menu-cat"></div>
  <div class="parallax1" style="color:white; text-align:center;">
    <div style="margin:auto auto;">
      {{!-- <div>My Plywood House</div> --}}
      <div class="bebas">Категорії</div>
      {{!-- <div>Висока якість за розумною ціною!</div> --}}
    </div>

  </div>

  <div class="container-fluid " style=" margin:0; padding:0px;">
    {{!-- <div class="container myContainerHeader">
       <h3>Категорії</h3>
  </div> 
   <div class="container" style="margin-bottom: 50px;" v-if="!isMobile()">
      <content>
        <div id="categories">
          <div id="categories-list">
            <div class="row">
              {{#each categories}}
              <div class="col-sm-6 col-md-4 col-lg-3 card-wrapper">
                <div class="category ply-card">
                  <a href="{{this.url}}">
                    <div class="card">
                      <img class="card-img-top " src="{{this.imageUrl}}">
                      <div class="card-body">
                        <h5 class="card-title" style="margin-top:0px;">{{this.title}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </content>

    </div> --}}
    <div class="row" style="margin:0px; padding:0px;" v-if="!isMobile()">

      {{#each categories}}

      <div class="col-6 col-sm-4 col-md-3 col-lg-3 myC" style="margin:0px; padding:0px; rosition:relative;">
        <a href="{{this.url}}" style="display: block; float:left; text-decoration:none; color:#313131">
          <img class="img-fluid " src="{{this.imageUrl}}">
          <h5 class="titleC align-middle" style="text-align: center;"> <span style="  margin: 0;   position: absolute;    top: 50%;                        
                  transform: translate(-50%, -50%); letter-spacing: 0.0em;">{{this.title}}</span></h5>
        </a>

      </div>
      {{/each}}
    </div>

    {{!-- isMobile --}}
    <div class=" container" style="margin-bottom: 50px;" v-if="isMobile()">
      <content>
        <div id="categories">
          <div id="categories-list">
            <div class="row">
              {{#each categories}}
              <div class="col-6 card-wrapper" style="padding:0px;">
                <div class="category ply-card" style="margin:10px;">
                  <a href="{{this.url}}">
                    <div class="card">
                      <img class="card-img-top " src="{{this.imageUrl}}">
                      <div class="card-body">
                        <h5 class="card-title" style="margin-top:0px;">{{this.title}}</h5>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </content>

    </div>
  </div>

  <div id="about-us"></div>

  <div class="parallax2" style="color:white; ">
    <div class="container-fluid">
      <div class="row bebas">
        <div class="col-md-3" style="margin: auto 0; text-align:center;" title="Наш інстаграм"> <a target="blank"
            href="https://instagram.com/my_plywood_house"
            style="display: block; text-decoration:none; color:#fff;">My<br>Plywood<br>House</a></div>
        <div class="col-md-6"></div>
        <div class="col-md-3" style="margin: auto 0; text-align:center;" title="Наш інстаграм">
          <a target="blank" href="https://instagram.com/my_plywood_house"
            style="display: block; text-decoration:none; color:#fff;">
            <div style="padding-top:20px; padding-bottom:20px; background-color: rgba(0, 0, 0, 0.0); 
            width:100%;height:100%; border-radius:0px;">

              <i class="fa fa-instagram"></i> Instagram
            </div>
          </a>
        </div>

      </div>
    </div>

  </div>
  {{!-- TODO Про нас, чим займаємось і чого у нас куплять --}}
  <div class="container-fluid" style=" margin:0; padding:0; background-color:#fff">
    <div class="row" style="margin:0 10%;">
      <div class="col-md-5 col-lg-7 " style="text-align:center;">
        <h1 :style="isMobile()? 'margin-top:20px;':'padding-top:16%;' ">My Plywood House</h1>
        <br>
        {{!-- <h2 style="color:green;">У нас є все, <br> що
          потрібно вашій дружині
        </h2> --}}
        <h1 style="color:green;">все,</h1>
        <h2 style="color:green;"> що потрібно вашій дружині
        </h2>
        <a class="btn btn-outline-success myWifeBtn" href="/category/wood-kitchen-accessories"
          style="margin:20px;font-family: 'Bebas'; font-size:2em; padding:10px 70px;  border-radius:300px;">тут</a>
      </div>
      <div class="col-md-7 col-lg-5" style="">
        <img src="/images/ImageStatic/m_static_2.jpeg" class="img-fluid">
      </div>
    </div>
    <div class="links container" style="padding-left: 15%;">
      <div class="row">
        <div class="col-md-6">
          <ul style=" margin:0; padding:0;">

            <a href="/category/clocks">
              <li>Годинники</li>
            </a>

            <a href="/category/souvenirs">
              <li>Ключниці</li>
            </a>
            <a href="/category/wedding-decor">
              <li>Весільні декорації</li>
            </a>
            <a href="/category/with-names">
              <li>Картини з дерева</li>
            </a>
            <a href="/category/with-names">
              <li>Іменні канцелярські вироби</li>
            </a>
            <a href="/category/for-kids">
              <li>Дитячі розвиваючі іграшки</li>
            </a>
          </ul>
        </div>
        <div class="col-md-6">
          <ul style=" margin:0 0; padding:0;">
            <a href="/category/doors">
              <li>Жалюзійні двері</li>
            </a>

            <a href="/category/wood-kitchen-accessories">
              <li>Дерев'яний посуд </li>
            </a>
            <a href="/category/wood-kitchen-accessories">
              <li>Предмети для сервіровки столу</li>
            </a>
            <a href="/category/photoframes">
              <li>Дизайнерські фоторамки та метрики</li>
            </a>
            <a href="/category/lamps">
              <li>Настільні лампи та підвісні люстри</li>
            </a>
            <a href="/category/souvenirs">
              <li>Шкатулки для прикрас</li>
            </a>
          </ul>

        </div>
      </div>
    </div>
    <hr>
  </div>
  {{!-- <div class="container " style="position:relative;">
    <div style="position: relative;">
      <div class="container myContainerHeader">
        <h3>Про нас</h3>
      </div>

    </div>
    <hr>
  </div> --}}




  <div id="delivery" class="container myContainerHeader" style="margin-top:0px;">
    <h3 style="margin-top:30px;">Доставка по всій Україні!</h3>
  </div>
  <div class="container">
    <div class="row">
      <h5 style=" margin-bottom:50px;">Ми відправляємо наші вироби у будь-який населений пункт України.
      </h5>
    </div>
    <div class="row" style="margin-bottom: 50px;">
      <img src="/images/ImageStatic/ua.png" alt="" class="img-fluid" style="margin:0 auto; height:250px;">
    </div>
    <hr>
    <div class="row" style="margin-bottom: 50px;">
      <h5>Обирайте зручний для вас спосіб доставки</h5>
    </div>
    <div class="row">
      <div class="col-md-6" style="text-align: center;">
        <img loading="lazy" src="/images/ImageStatic/NovaPoshta.png" alt="" class="img-fluid"
          style="margin:10px auto; height:60px;">
      </div>
      <div class="col-md-6" style="text-align: center;">
        <img loading="lazy" src="/images/ImageStatic/Ukrposhta.png" alt="" class="img-fluid"
          style="margin:10px auto; height:60px;">
      </div>
    </div>
    <hr>
  </div>
  <div class="container" style="margin-bottom: 50px;">
    <div class="row" style="margin-bottom: 50px;">
      <h5>Оплачуйте замовлення зручними методами</h5>
    </div>
    <div class="row" style="margin-bottom: 50px;">

      <div class="col-md-4" style="text-align: center; margin-top:20px;margin-bottom:20px;">
        <img src="/images/ImageStatic/Mono.png" alt="" class="img-fluid" style="margin:10px auto; height:40px;">

      </div>
      <div class="col-md-4" style="text-align: center;margin-top:20px;margin-bottom:20px;">
        <img src="/images/ImageStatic/PryvatBank.png" alt="" class="img-fluid" style="margin:10px auto; height:40px;">

      </div>
      <div class="col-md-4" style="text-align: center; margin-top:20px;margin-bottom:20px;">
        <img src="/images/ImageStatic/PayPal.png" alt="" class="img-fluid" style="margin:10px auto; height:40px;">

      </div>
    </div>
    <hr>
  </div>

  <div class="container " style="position:relative;">
    <div style="position: relative;">
      <div class="container myContainerHeader">
        <h3>Наша історія</h3>
      </div>
      <p>
        «My Plywood House» - це молода компанія, що була створена в 2019 році, на базі виробничого підприємства з
        досвідом роботи більше 9 років. А уже в 2020 році на ваш результат працює штат працівників, що складається із
        висококваліфікованих дизайнерів, менеджерів, верстатників, операторів ЧПУ фрезерних на лазерних станків.
      </p>
      <p> Сама робота з деревом мене дуже захоплювала з дитинства, адже є щось магічно-неймовірне у цьому матеріалі на
        відміну від інших. Його структура є унікальною, як людські відбитки пальців. Такі вироби несуть таємничу
        гармонію. Тому, коли мені власне випала нагода попрацювати на такому виробництві, що і стало початком зародження
        ідеї, я відразу погодився. Це маленьке підприємство займалось виготовлення ...</p>

      <div class="bottomFading"></div>
    </div>
  </div>
  <div class="container" style="text-align: center; margin-bottom:30px;">
    <a class="btn btn-success " href="aboutus"
      style="text-decoration:none;border-radius:100px;  color:#333; z-index:5; position:relative; color:white;">Читати
      далі </a>

  </div>
  <div class="parallax3" style="color:white; text-align:center;">
    <div style="margin:auto auto;">
      <div class="bebas">Контакти</div>
      <div> <i class="fa fa-arrow-down"></i></div>
    </div>

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  $('.carousel').carousel({
    interval: 8947
  })



  var mixinDetictingMobile = {
    methods: {
      isMobile: function () {
        var check = false;
        (function (a) { if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true; })(navigator.userAgent || navigator.vendor || window.opera);
        return check;
      }
    }
  }


  var app = new Vue({
    el: '#app',
    mixins: [mixinDetictingMobile],

    data: {
      lastViewedId: [],
      lastViewed: []
    },
    methods: {

    },
    created() {
      if (localStorage.lastViewedId != null)
        if (JSON.parse(localStorage.lastViewedId).length > 0) {
          console.log(" lastViewed > 0");
          this.lastViewedId = JSON.parse(localStorage.lastViewedId);
          var data = {
            lastViewedId: this.lastViewedId
          }
          axios.post("/get-last-viewed", data).then(res => {
            console.log(res.data.length);
            if (res.data.length > 6) {
              console.log("1")
              var x = res.data.length - 6;
              console.log("x=" + x);
              this.lastViewed = res.data.splice(res.data.length - 6);

            } else {
              console.log("2")
              this.lastViewed = res.data;
            }
          });
        }
        else {
          this.lastViewedId = [];
          console.log("last viewed =0")
        }
    },
    mounted() {

      // alert("mounted");
    }
  })







</script>
<style>
  .links ul li {
    text-indent: 1em;
    color: green;

    margin: 10px 0px;

  }

  @media screen and (min-width:1000px) {
    .links {
      margin-left: 10%;
    }
  }

  .myWifeBtn {
    color: green;

  }

  .myWifeBtn:hover {
    color: white;
  }

  .myT {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .myT:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .myC {
    position: relative;
    padding: 0px;
    margin: 0px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  .titleC {
    font-family: 'Bebas';
    font-size: 2em;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    opacity: 0;
    position: absolute;
    height: 0px;
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .myC:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  .myC:hover .titleC {
    opacity: 0.9;
    height: 100%;
    background-color: white;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }



  .bottomFading {
    position: absolute;
    bottom: 0px;
    height: 70px;
    width: 100%;
    z-index: 4;
    background-image: linear-gradient(0, #fafafa, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  }

  p {
    text-indent: 3em;
  }

  .myCard {
    margin: 20px;
    position: relative;
  }

  .myCatImage {
    z-index: 2;
    position: relative;
  }

  .myCatTitle {
    padding-top: 20px;
    padding-left: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    text-align: center;
    background-image: linear-gradient(to Bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));

  }

  .myCard:hover {
    -webkit-box-shadow: 0 8px 6px #bbb;
    -moz-box-shadow: 0 8px 6px #bbb;
    box-shadow: 0 8px 6px 6px #bbb;
  }

  .myRoundTitle {
    height: 140px;
    width: 140px;
    text-align: center;
    padding-top: 50px;
    background-image: radial-gradient(#F4511E, #D84315);
    font-size: x-large;
    border-radius: 100px;
    margin: 0 auto;

  }

  .myTextCarouselSettings {
    padding-top: 80px;
    color: white;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-bottom: 0px;
  }

  .myContainerHeader {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 35px;
  }

  hr {
    margin-top: 80px;
  }

  .row {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .parallax1 {
    letter-spacing: 0.04em;

    background-image: url("/images/ImageStatic/back_5.jpg");
    font-size: 3em;
    padding-top: 150px;
    padding-bottom: 150px;
    font-weight: bold;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .parallax2 {
    letter-spacing: 0.04em;

    background-image: url("/images/ImageStatic/back_8.jpg");
    font-size: 2em;
    padding-top: 150px;
    padding-bottom: 150px;
    font-weight: bold;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax3 {
    letter-spacing: 0.04em;

    background-image: url("/images/ImageStatic/back_11.png");
    font-size: 3em;
    padding-top: 150px;
    padding-bottom: 150px;
    font-weight: bold;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #carouselExampleControls {
    margin-top: 70px;
  }

  @media screen and (max-width: 767px) {


    .parallax1 {
      background-image: url("/images/ImageStatic/back_5.jpg");
      padding-top: 150px;
      padding-bottom: 150px;
      font-size: 2em;
      font-weight: bold;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .parallax2 {
      background-image: url("/images/ImageStatic/back_10.jpg");
      padding-top: 150px;
      padding-bottom: 150px;
      font-size: 2em;
      font-weight: bold;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .parallax3 {
      background-image: url("/images/ImageStatic/back_11.png");
      padding-top: 150px;
      padding-bottom: 150px;
      font-size: 2em;
      font-weight: bold;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


  }
</style>