<div class="container" style="margin-top: 100px;" id="app">
    <div id="product">
        <div class="d-flex align-items-center justify-content-between">
            <h3>{{this.product.title}}</h3>
            <a href="/category/{{this.product.categoryName}}" style="margin-left:50px;">Назад</a>
        </div>
        <hr />
        <div class="info">
            <div class="row">
                <div class="col-lg-7 form-group">
                    <div id="carouselExampleControls2" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            {{#each this.product.images}}
                            <div {{#if @first }}class="carousel-item active" {{else}}class="carousel-item" {{/if}}>
                                <img src="{{this}}" class="d-block w-100" alt="...">
                            </div>
                            {{/each}}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls2" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="form-group">
                        <p>{{{this.product.description}}}</p>
                    </div>
                    <div class="price d-flex align-items-center justify-content-between form-group">
                        <div>
                            <h6>Ціна: <strong>{{this.product.price}}₴</strong></h5>
                        </div>
                        <div>
                            <button id="{{this.product.id}}" class="btn btn-primary" onclick="buy(event)">В
                                корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <h5 style="margin-bottom:20px;">Цікаві пропозиції:</h5>
            <div class="row">

                <div class="col-md-6 col-lg-3 card-wrapper" v-for="(p,i) in products">
                    <div class="product ply-card">
                        <a :href="'/product/'+p.id">
                            <div class="card">
                                <img class="card-img-top" :src="p.mainImage">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row" style="max-height: 30px;overflow-x:hidden; margin-bottom:3px;">
                                            <h5>\{{p.title}}
                                            </h5>
                                        </div>
                                        <div class="row">
                                            <h6 style="margin-top: 6px;">\{{p.price}}₴</h6>
                                            <button :id="p.id" class="btn btn-primary btn-sm btn-buy"
                                                onclick="buy(event)" style="position: absolute; right:10px;"> В
                                                корзину
                                            </button>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid" style="margin-bottom: 50px;">
            <h5 style="margin-bottom:20px;">Відгуки:</h5>
            <div class="row" style="border:1px solid #ccc; border-radius:5px; padding:10px;">
                <div v-for="(c,i) in comments" style="width:100%; " class="container-fluid">
                    <div class="row" style=" background-color:#f3f3f3; margin:10px 0; padding:5px;">
                        <div class="col-md-6">
                            \{{c.name}} \{{c.about}}:
                        </div>


                    </div>
                    <div class="row">
                        <div style="margin:2% 40px; width:100%;">
                            "\{{c.text}}"
                        </div>
                    </div>
                    <div class="row">

                        <div class="col"
                            style="text-align: end; margin-right:2%; font-size:0.9em; color:rgba(0,0,0,0.5)">

                            \{{c.date}}
                        </div>
                    </div>
                    <hr>
                </div>
                <div style="padding:5px; width:100%; margin-bottom:0px;">
                    <div Sstyle="width:100%;">
                        <div class="form-group" style="width:100%;">
                            <textarea class="form-control " v-model="text" rows="4"></textarea>
                        </div>
                    </div>
                    <div style="text-align:end; margin-bottom:20px;margin-right:20px; width:100%;">
                        <button class="btn btn-primary" @click="addComment()">Відправити</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    var app = new Vue({
        el: '#app',
        component: {
            axios
        },
        data: {
            products: [],
            comments: [],
            text: ""
        },
        beforeCreate: function () {
            var url = window.location.href;
            var id = url.substring(url.lastIndexOf('/') + 1);
            data = {
                id
            }
            axios.post("/getInterestingProducts", data).then(res => {
                this.products = res.data;
                console.log("products");
                console.log(res.data);

            });
            axios.post("/getComments", data).then(res => {
                console.log("commetns:")
                console.log(res.data);
                if (res.data.length > 20) this.comments = res.data.slice(0, 20);
                else this.comments = res.data;
                console.log(res.data);

            });

        },
        methods: {
            addComment() {
                var url = window.location.href;
                var id = url.substring(url.lastIndexOf('/') + 1);
                var name = "Відвідувач";
                if (localStorage.userName != null) name = localStorage.userName;
                var comment = {
                    prodid: id,
                    id: 0,
                    name,
                    text: this.text
                };
                axios.post("/setComment", comment).then(res => {
                    console.log(this.comments);
                    if (res.data.status == "ok")
                        this.comments = res.data.comments;
                    console.log(this.comments);

                    this.text = "";
                    // alert(res.data);

                });
            }
        }
    });

</script>